/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #2C2C2C;
	background: #fff;
	font-family: 'Assistant', "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 18px;
	font-weight: 400;
}
h1, h2, h3, h4, h5 {
	font-weight: 400;
}
p {
	line-height: 1.6;
}
a {
	color: #006fbb;
	text-decoration: underline;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
h1, h2, h3 {
	font-size: 1.75em;
}
/** header **/
header {
	width: 100%;
	height: 54px;
	background: #fff;
	position: relative;
}
header .container {
	padding: 0 4%;
}
.head-logo {
	padding: 16px 6px 16px 10px;
	width: 137px;
	position: absolute;
	top: 50%;
	transform: translate(0 , -50%);
}
.head-logo img {
	width: 100%;
}
nav {
	height: 100%;
}
nav ul {
	padding: 0 0 0 143px;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
nav ul li {
	height: 100%;
	padding: 0 16px 0 0;
}
nav ul li.skype::before {
	content: '';
	margin: 0 16px;
	border: 1px solid #2B2C33;
}
nav ul li a {
	position: relative;
	display: inline-block;
	font-size: 13px;
	padding: 16px 0 2px 0;
	height: 100%;
	color: #2B2C33;
	text-decoration: none;
}
nav ul li.skype a {
	padding: 10px 0 2px 0;
	font-size: 18px;
	font-weight: 700;
}
nav ul li a::after{
	position: absolute;
	bottom: -4px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #2B2C33;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
}
nav ul li a:hover::after {
	transform: scale(1, 1);
}
/** main **/
main {
	width: 100%;
	padding: 16px 0 0 0;
}
/** haeding **/
.heading div {
	background: #0078D4;
	border-radius: 0 20px 20px 20px;
	color: #fff;
	padding: 0 15px;
	text-align: center;
}
.heading h1 {
	padding: 30px 0 10px 0;
	font-size: 36px;
	font-weight: 700;
}
.heading p {
	padding-bottom: 50px;
	font-size: 15px;
}
/** country **/
.country {
	text-align: center;
	padding: 0 0 40px 0;
}
.country h2 {
	padding-top: 60px;
	font-size: 28px;
}

/** number **/
.number .box {
	background: #F2F2F2;
	margin: 15px 10px;
	padding: 20px 0;
}
.number h2 {
	font-size: 28px;
}
.number .l-box {
	width: 50%;
}
.number .r-box {
	width: 50%;
}
/** about **/
.about h3 {
	padding-top: 60px;
}
/** coution **/
.coution {
	padding-top: 3em;
}














.video-box .text-box {
	position: relative;
	z-index: 9;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

/** footer **/
footer {
	width: 100%;
}
footer .container {
	padding: 40px 0;
}
.copy {
	font-size: 0.75em;
}

/** waypoint **/
.animation-box:nth-child(odd){
    background: #fff;
	color: #fff;
}
.animation-box{
    transition:.5s;
}
.animation-box.active{
    background: #fafafa;
    color: #2C2C2C;
}
.bg-black.animation-box.active{
    background: #000;
	color: #fff;
}










	
	
	
	
	
	
	






