/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #2C2C2C;
	background: #fff;
	font-family: 'Assistant', "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 18px;
	font-weight: 400;
}
h1, h2, h3, h4, h5 {
	font-weight: 400;
}
p {
	line-height: 1.6;
}
a {
	color: #006fbb;
	text-decoration: underline;
}
ul, li {
	list-style: none;
	line-height: 1;
}
.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
h1, h2, h3 {
	font-size: 1.75em;
}
/** header **/
header {
	width: 100%;
	height: 54px;
	background: #fff;
	position: relative;
}
header .container {
	padding: 0 4%;
}
.head-logo {
	padding: 16px 6px 16px 10px;
	width: 137px;
	position: absolute;
	top: 50%;
	transform: translate(0 , -50%);
}
.head-logo img {
	width: 100%;
}
nav.global {
	height: 100%;
}
nav.global ul {
	padding: 0 0 0 143px;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
nav.global ul li {
	height: 100%;
	padding: 0 16px 0 0;
}
nav.global ul li.skype::before {
	content: '';
	margin: 0 16px;
	border: 1px solid #2B2C33;
}
nav.global ul li a {
	position: relative;
	display: inline-block;
	font-size: 13px;
	padding: 20px 0 2px 0;
	height: 100%;
	color: #2B2C33;
	text-decoration: none;
}
nav.global ul li.skype a {
	padding: 14px 0 2px 0;
	font-size: 18px;
	font-weight: 700;
}
nav.global ul li a::after{
	position: absolute;
	bottom: -4px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #2B2C33;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
}
nav.global ul li a:hover::after {
	transform: scale(1, 1);
}
.toggle, .toggle-menu {
	display: none;
}
/** main **/
main {
	width: 100%;
	padding: 16px 0 0 0;
}
/** haeding **/
.heading {
	padding: 0 15px;
}
.heading div {
	background: #0078D4;
	border-radius: 0 20px 20px 20px;
	color: #fff;
	padding: 0 15px;
	text-align: center;
}
.heading h1 {
	padding: 30px 0 10px 0;
	font-size: 36px;
	font-weight: 700;
}
.heading p {
	padding-bottom: 50px;
	font-size: 15px;
}
/** country **/
.country {
	text-align: center;
	padding: 0 0 40px 0;
}
.country h2 {
	padding-top: 60px;
	font-size: 28px;
	font-weight: 700;
}
.country .flags {
	margin-top: 40px;
}
.country li {
	flex-basis: 16.6%;
	padding: 40px 0 0 0;
	margin: -1px 0 0 -1px;
	border: 1px solid #ededed;
}
.country li a {
	text-decoration: none;
	color: #2B2C33;
}
.country li a:hover {
	text-decoration: underline;
}
.country li p {
	font-size: 15px;
	padding: 5px 0 11px 0;
}
.country .btn {
	padding-top: 20px;
}
.country button {
	background: #fff;
	font-size: 13px;
	font-weight: 700;
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #0078D4;
	padding: 12px 32px;
	border: 1px solid #0078D4;
	border-radius: 24px;
}
.country button:hover {
	background: #0078D4;
	color: #fff;
}

/** number **/
.number .box {
	background: #F2F2F2;
	border-radius: 0 20px 20px 20px;
	margin: 15px 10px;
	padding: 20px 10px;
}
.number h2 {
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 700;
}
.number h3 {
	margin-bottom: 14px;
	font-size: 18px;
	font-weight: 700;
}
.number .l-box {
	width: 50%;
	position: relative;
}
.number .l-box div {
	max-width: 300px;
	position: relative;
	top:50%;
	left:50%;
	transform: translate(-50% , -50%);
}
.number .l-box div img {
	width: 100%;
}
.number .r-box {
	width: 50%;
	padding: 0 25px 0 10px;
}
.number .r-box li {
	padding: 15px 0;
}
.number_intro {
	margin-bottom: 30px;
}
/** about **/
.about {
	text-align: center;
	padding: 60px 10px 100px 10px;
}
.about h3 {
	font-size: 28px;
	font-weight: 700;
}
.about h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	padding: 0 0 10px 0;
}
.about ul {
	margin-top: 30px;
}
.about li {
	flex-basis: 33.3%;
	padding: 0 21px 42px 21px;
}
.about li p {
	font-size: 15px;
	text-align: left;
}
.about .about_icon {
	width: 40px;
	margin: 0 auto;
	padding: 0 0 20px 0;
}
.about .about_icon img {
	width: 100%;
}
.about .btn {
	padding: 15px 0 0 0;
}
.about button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #0078D4;
	border: 1px solid #0078D4;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 14px 34px;
	margin-bottom: 20px;
	border-radius: 34px;
}
.about button:hover {
	background: #004e8c;
}
/** coution **/
.coution {
	padding: 3em 2.5em 0 2.5em;
	font-size: 12px;
}
/** footer **/
footer {
	margin-top: 48px;
	background: #f2f2f2;
}
footer .footer_menu {
	padding: 0 12px;
	flex-basis: 16.6%;
}
footer .footer_menu p {
	padding: 36px 0 4px 0;
	font-size: 15px;
	font-weight: 700;
	color: #616161;
}
footer .footer_menu li {
	padding: 8px 0;
}
footer .footer_menu li a {
	font-size: 11px;
	text-decoration: none;
	color: #2B2C33;
}
.copy {
	font-size: 11px;
	padding: 30px 5% 16px;
	text-align: right;
	color: #616161;
}

/** waypoint **/
.animation-box:nth-child(odd){
    background: #fff;
	color: #fff;
}
.animation-box{
    transition:.5s;
}
.animation-box.active{
    background: #fafafa;
    color: #2C2C2C;
}
.bg-black.animation-box.active{
    background: #000;
	color: #fff;
}

@media screen and (max-width: 1024px) {
	footer .footer_menu {
		padding: 0 12px;
		flex-basis: 33.3%;
	}
}
@media screen and (max-width: 962px) {
	.country li {
		flex-basis: 33.3%;
	}
}
@media screen and (max-width: 859px) {
	.head-logo {
		width: 116px;
		top: 50%;
		left: 50%;
		transform: translate(-50% , -50%);
	}
	main {
		padding: 0;
	}
	nav.global {
		display: none;
	}
	.toggle, .toggle span {
		display: inline-block;
	}
	.toggle {
		position: fixed;
		top: 3px;
		left: 3px;
		width: 48px;
		height: 48px;
		padding: 15px;
		z-index: 3;
		background: none;
		border: none;
		appearance: none;
		cursor: pointer;
	}
	.toggle:focus:not(:focus-visible) {
		outline: none;
	}
	.toggle::before, .toggle::after {
		content: '';
	}
	.toggle::before, .toggle::after, .toggle span {
		position: absolute;
		display: inline;
		width: 18px;
		height: 1px;
		background: #000;
		border-radius: 2px;
		transition: .2s;
	}
	.toggle.bisible::before, .toggle.bisible::after, .toggle.bisible span {
		background: #000;
	}
	.toggle::before {
		top: 18px;
		left: 8px;
		transform-origin: 0 0;
		transform: rotate(45deg) scaleX(0);
		transition-delay: 0s;	
	}
	.toggle::after {
		bottom: -3px;
		left: 8px;
		transform-origin: 0 100%;
		transform: rotate(-45deg) scaleX(0);
		transition-delay: 0s;
	}
	.toggle span:nth-of-type(1) {
		top: 18px;
		right: 15px;
		transform-origin: 0 0;
		transition-delay: .3s;
	}
	.toggle span:nth-of-type(2) {
		top: 24px;
		right: 15px;
		transform-origin: 50% 50%;
		transition-delay: .3s;
	}
	.toggle span:nth-of-type(3) {
		top: 30px;
		right: 15px;
		transform-origin: 100% 0;
		transition-delay: .3s;
	}
	.toggle.active::before {
		transform: rotate(45deg) scaleX(1);
		transition-delay: .3s;
	}
	.toggle.active::after {
		transform: rotate(-45deg) scaleX(1);
	}




	.toggle-menu {
		display: block;
		opacity: 0;
	}
	.toggle-menu.active {
		opacity: 1;
	}
}











	
	
	
	
	
	
	






